---
http_interactions:
- request:
    method: get
    uri: https://api.gojimo.net/api/v4/qualifications/2622c2f7-73cb-49fa-941e-204f6735d0d8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '4.0'
      Etag:
      - '"690cc8170cd677e8df83129891558f6c"'
      Last-Modified:
      - Mon, 27 Jul 2015 15:38:49 GMT
    body:
      encoding: UTF-8
      string: '{"id":"2622c2f7-73cb-49fa-941e-204f6735d0d8","name":"Junior Certificate","country":{"code":"IE","name":"Ireland","created_at":"2014-04-12T10:06:31.000Z","updated_at":"2014-04-12T10:06:31.000Z","link":"/api/v4/countries/IE"},"subjects":[{"id":"91a1b8dc-1021-4ddd-a498-8d4a3f2dadf6","name":"Music","icon":null,"colour":null,"link":"/api/v4/subjects/91a1b8dc-1021-4ddd-a498-8d4a3f2dadf6","default_products":[{"id":"9ac6279c-6e9a-490b-a74e-77c0d3969232","title":"Music
        Junior Certificate Quizzes","link":"/api/v4/products/9ac6279c-6e9a-490b-a74e-77c0d3969232","ios_iap_id":"edapps.gojimo.edappsmusicjuniorcertificate","store_ids":[],"type":"question_pack","assets":[{"id":"bdf329d7-795d-439d-bcd6-4269cdf1664b","copyright":null,"meta":null,"size":6187443,"content_type":"","created_at":"2015-05-13T16:18:38.000Z","updated_at":"2015-05-13T16:18:38.000Z","path":"https://gojimo.s3.amazonaws.com/production/assets/bdf329d7-795d-439d-bcd6-4269cdf1664b/RackMultipart20150513-3584-1a7i80w","unzipped_base_url":"https://gojimo.s3.amazonaws.com/production/assets/bdf329d7-795d-439d-bcd6-4269cdf1664b/unzipped","info":[{"meta":"\"allAssets\":
        \"true\""}],"link":"/api/v4/assets/bdf329d7-795d-439d-bcd6-4269cdf1664b"},{"id":"dd05167f-620e-4c86-8373-f85bac5f612e","copyright":null,"meta":"coverImage@2x","size":null,"content_type":null,"created_at":"2015-05-15T14:37:24.000Z","updated_at":"2015-05-15T14:37:24.000Z","path":null,"unzipped_base_url":null,"info":[],"link":"/api/v4/assets/dd05167f-620e-4c86-8373-f85bac5f612e"},{"id":"4bb53d85-3821-41ed-9953-ff4093590987","copyright":null,"meta":"coverImage","size":null,"content_type":null,"created_at":"2015-05-15T14:37:24.000Z","updated_at":"2015-05-15T14:37:24.000Z","path":null,"unzipped_base_url":null,"info":[],"link":"/api/v4/assets/4bb53d85-3821-41ed-9953-ff4093590987"}],"publisher":{"id":"f325b004-aa9f-48e7-b65f-dcb2904fbd63","title":"EducationApps","link":"/api/v4/publishers/f325b004-aa9f-48e7-b65f-dcb2904fbd63"},"author":"John
        Parkinson"}],"examiners":[]},{"id":"79ab192a-9cd7-4d07-859b-6e8f4668ddfa","name":"Latin","icon":null,"colour":"#F1F1F1","link":"/api/v4/subjects/79ab192a-9cd7-4d07-859b-6e8f4668ddfa","default_products":[{"id":"f698793d-918e-446f-af8e-e2f25ed51a7f","title":"Latin
        Vocabulary Quizzes","link":"/api/v4/products/f698793d-918e-446f-af8e-e2f25ed51a7f","ios_iap_id":"edapps.gojimo.edappsjclatin","store_ids":[],"type":"question_pack","assets":[{"id":"f50f2ec9-2106-4c25-bca0-1c7574f4f47a","copyright":null,"meta":"coverImage[...]
[...]
