<header>
  <h1>Subjects</h1>

  <%= link_to 'Back to qualifications', qualifications_path %>
</header>

<% @subjects.each do |subject| %>
  <%= content_tag(:div, id: subject.id, class: 'subject', style: "background-color: #{subject.colour}") do %>
    <h2><%= subject.title %></h1>
  <% end %>
<% end %>
